<h1 class="jumbotron">
  Welcome to my practice react app!!!
</h1>

<%= react_component("HelloWorld", props: { name: "Masatoshi"}, prerender: false) %>
<%= react_component("Map", prerender: false) %>
