body {
  background-color: $body-bg;
}

main {
  min-height: 600px;
}

.alert {
  border-radius: 0;
}

.flash_message.alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100vw;
  margin-bottom: 0;
  opacity: .95;
  min-height: 58px;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $blue;
}

nav.site-header {
  background-color: $header-color;
  height: 50px;
}

footer {
  vertical-align: middle;
  padding: 4rem 0;
  color: $gray-2;
  background: $footer-color;
  .contact-info {
    display: inline-block;
    padding: 0 5px;
  }
  .social-links {
    display: inline-block;
    float: right;
    font-size: 1.0em;
    a {
      color:inherit;
      margin: 0 .5rem;
    }
    a:hover {
      text-decoration: none;
      color: white;
    }
  }
}
